.container {
  margin: 0 auto;
}

.container header h1 {
  font-family: "Chelsea Market", cursive;
}

header img {
  border-radius: 50%;
}

a,
p {
  font-family: "Roboto Mono", monospace;
}

.a1 {
  margin: 0 100px 50px 150px;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #ff764e;
  color: white;
}

.a2 {
  margin: 0 100px 50px 150px;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #5ed3eb;
  color: white;
}

.a3 {
  margin: 0 100px 50px 150px;
  padding: 5px 30px;
  border-radius: 10px;
  color: white;
  background-color: #ffcd69;
}

.anaMetin {
  margin: 0 auto;
  width: 1300px;
}

.anaMetin p {
  background-color: #ddb9a3;
  color: white;
  text-align: center;
  padding: 0 5px;
}

.balon {
  margin: 0 auto;
  width: 700px;
}
.balon p {
  padding: 0 200px;
  text-align: center;
}

.balon img {
  padding: 0 300px;
  width: 90px;
  height: 90px;
}

.atv {
  margin: 0 auto;
  width: 700px;
}

.atv p {
  padding: 0 200px;
  text-align: center;
}

.atv img {
  padding: 0 300px;
  width: 90px;
  height: 90pz;
}

footer {
  background-color: #f9e7dc;
}

footer img {
  width: 100%;
}
