* {
  border: 1px solid limegreen;
  border-collapse: collapse;
}

body {
  font-family: "Roboto Mono", monospace;
}

.max_container {
  margin: 0 auto;
  max-width: 900px;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #ff764e;
  color: white;
  text-decoration: none;
}

.bg_blue {
  background-color: #5ed3eb;
}

.bg_yellow {
  background-color: #ffcd69;
}

nav {
  margin: 0 50px 50px;
  padding: 50px 0;
  text-align: center;
}

.sola_kaydir {
  float: left;
}

.saga_kaydir {
  float: right;
}

.ortala {
  margin: 0 auto;
}

header h1 {
  font-family: "Chelsea Market";
}

.intro {
  margin-top: 50px;
  min-height: 220px;
  margin-bottom: 15px;
}

.intro-img img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.intro-text {
  padding-left: 200px;
  text-align: center;
  max-width: 550px;
}

.anaMetin p {
  background-color: #ddb9a3;
  color: white;
  text-align: center;
  padding: 0 5px;
}

.card {
  width: 300px;
  text-align: center;
  margin: 10px auto;
}

.card img {
  width: 33%;
}

footer {
  background-color: #f9e7dc;
}

footer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center top;
}
